

#mainPopup {
  padding: 10px;
  height: 500px;
  width: 288px;
  transition: visibility 2s linear;
}
#pass {
  margin: auto;
  display: block;
  border-radius: 5px;
}

h1 ,h2{
  text-align: center;
}
body {
  background-color: DarkTurquoise;
  background: linear-gradient(DarkTurquoise, rgb(221, 236, 236));
  font-family: "Lexend", serif;
  color: white;
  margin:0;
  height:flex;
}


/* Password  */

.importantPass {
  
  font-size: 40px;
  letter-spacing: 5px;
  text-transform: uppercase;
  width:200px;
}

.passwordInput, .password:focus
{
    background: transparent;
    border: none;
    outline-width: 0; 
}

/* Toggle buttons */

.toggle
{
  background-color: #d3d4d5 !important;
}